.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 120px;
    &_logo{
        width: 148px;
        height: 64px;
    }

    &_links{
        display: flex;
        align-items: center;
    }
}